body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgba(7,27, 82, 1) 0%, rgba(9, 128, 128, 1));

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


